{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react",
    "plugin:tailwind/recommended"
  ],
  "plugins": ["react", "prettier", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx"]
  },
  "rules": {
    "prettier/prettier": "error",

    // NextJS doesn't require react in scope
    "react/react-in-jsx-scope": "off",

    /**
     * NextJS <Link> API conflicts with a11y expectations
     * https://github.com/zeit/next.js/issues/5533
     * https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/402
     **/
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],

    // Un-opinionate airbnb a bit
    "arrow-body-style": "off"
  },
  "globals": {
    "React": "writable"
  }
}
